/*.post-item {*/
    /*!*width: 310px;*!*/
    /*!*height: 346px;*!*/
    /*border-radius: 6px;*/
    /*border: solid #dedede thin;*/
    /*float: left;*/
    /*margin-bottom: 30px;*/
    /*background: #fff;*/
    /*margin-right: 22px;*/
    /*-webkit-transition: all .5s ease 0s;*/
    /*-moz-transition: all .5s ease 0s;*/
    /*-o-transition: all .5s ease 0s;*/
/*}*/

.post-item:hover {
    box-shadow: 10px 10px 20px rgba(67, 72, 84, 0.3);
    border:0;
    transform: translate(0px, -5px);
    transition: all 0.5s ease 0s;
}